/* Bootstrap styles */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  float: left;
  padding: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.col-md-6 {
  width: 50%;
}
.col-md-3 {
  width: 25%;
}
.col-md-9 {
  width: 75%;
}
.col-md-4 {
  width: 33.3%;
}

/* Custom styles */
.col-md-6 img,
.col-md-3 img,
.col-md-4 img,
.col-md-9 img {
  display: block;
  max-width: 100%;
  height: auto;
}
.two-col,
.two-col-left,
.two-col-right,
.three-col,
.accordion {
	padding: 8px;
	margin: 10px auto;
	background: #eee;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;
}
.two-col .col-md-6,
.two-col-left .col-md-3,
.two-col-left .col-md-9,
.two-col-right .col-md-3,
.two-col-right .col-md-9,
.three-col .col-md-4,
.accordion dd .content,
.accordion dd.accordion-navigation>a {
	box-shadow: 0 1px 1px #ddd inset;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: #fff;
	min-height: 5em;
}
.two-col .col-md-6,
.two-col-left .col-md-3,
.two-col-left .col-md-9,
.two-col-right .col-md-3,
.two-col-right .col-md-9 {
	margin: -3px;
}
.two-col-right .col-sidebar,
.two-col-left .col-sidebar {
	padding: 0;
}
.two-col .col-2 {
  margin-left: 9px;
}
.three-col .col-1 {
	margin-left: -3px;
}
.three-col .col-2 {
	margin-left: 3px;
}
.three-col .col-3 {
	margin-left: 3px;
  margin-right: -3px;
}
.two-col-left .col-md-9{
  margin-left: 8px;
}
.two-col-right .col-md-9{
  margin-right: 8px;
}

.accordion {
	padding-top: 2px;
}
.accordion:before {
	content: 'Accordion';
	text-transform: uppercase;
	padding-bottom: 4px;
	font-size: 10px;
	color: #888;
}
.accordion dd.accordion-navigation > .content,
.accordion dd > .content {
	display: block !important;
}
.accordion dd.accordion-navigation {
	margin-bottom: .7em !important;
}
.accordion dd.accordion-navigation>a {
	padding: 5px;
	background: #ddd;
	min-height: 0;
	margin-bottom: 1px;
}
.accordion dd.accordion-navigation>a p {
	margin: 0;
}


.pageContentTitle {
    color: #a6192e;
    font-size: 24px;
    font-weight: 200;
    background: url(/assets/images/titleLine.png) repeat-x center center;
    margin-top: 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.pageContentTitle span span {
    background-color: #fff;
    padding-right: 0;
    font-weight: 500;
}



/*Video*/

.videoBox {
    width: 100%;
    height: auto;
    min-height: 265px;
    float: left;
    position: relative;
    cursor: pointer;
}

.videoBox .fa {
    width: 42px;
    height: 42px;
    line-height: 42px;
    position: absolute;
    top: 74px;
    left: 50%;
    margin: 0 0 0 -21px;
    color: #fff;
    font-size: 38px;
    text-align: center;
}

.videoBox h2 {
    width: 100%;
    float: left;
    margin: 0;
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    padding: 10px 0;
        color: #a5192d;
}

/*.pageContent h2 {
    font-size: 24px;
    color: #a5192d;
    font-weight: 400;
}*/


.slick-initialized .slick-slide {
    display: block;
}

.bodySingleGalleryItem {
    height: 305px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-size: cover;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}


.bodySingleGalleryItem span {
    background-color: rgba(166, 25, 46, .8);
    padding: 6px 12px;
    -moz-border-radius: 2px;
    -webkit-border-2px: 2px;
    border-radius: 2px;
    margin: 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    color: #fff;
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 400;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-slider {
    margin-bottom: 30px;
}


.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.bodySingleGallery {
    width: 100%;
    height: 325px;
    background: #F7F7F7;
    padding: 10px;
    -moz-border-radius: 2px;
    -webkit-border-2px: 2px;
    border-radius: 2px;
    margin-bottom: 10px;
}