﻿/*------ Green color -------*/
/*------ Blue color -------*/
/*------ Yellow color -------*/
/*------ Grey color -------*/
/*------ General -------*/
/*------ Fonts -------*/
::selection {
    background-color: #98CE44;
    color: #fff;
}


/*------------- Jquery-ui DatePicker ---------------*/
.datepicker-wrap:after {
    background: none;
    color: #fdb714;
}

#jrange input {
    border: none !important;
    outline: none !important;
}

.ui-datepicker-today a {
    background: #fff !important;
    color: #000000 !important;
}

.ui-datepicker-trigger {
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: transparent;
    z-index: 1;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.datepicker-wrap:after {
    display: block;
    font-family: "soap-icons";
    content: "\e86a";
    font-size: 25px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 34px;
    background: green;
}

.datepicker-wrap.yellow:after {
    background: #fdb714;
}

.datepicker-wrap.transparent:after {
    background-color: transparent;
    color: #fdb714;
}

.ui-datepicker {
    width: 20em;
    padding: 0;
    display: none;
    background: #fff;
    border: 1px solid #fdb714;
    z-index: 101 !important;
    border-radius: 1px;
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        font-weight: 500;
        font-size: 15px;
        /* text-transform: uppercase; */
        color: #473b52;
        padding: 0 0 5px;
        /* letter-spacing: 1px; */
        border: 0;
        background-color: transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        top: -10px;
    }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0px;
    font-size: 12px;
    background: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 11px;
    cursor: pointer;
}

    .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
    .ui-datepicker .ui-datepicker-next.ui-state-disabled {
    }

    .ui-datepicker .ui-datepicker-prev:before,
    .ui-datepicker .ui-datepicker-next:before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

.ui-datepicker .ui-datepicker-group {
    width: 50%;
    display: -moz-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ui-datepicker .ui-datepicker-prev:before {
    border-right: 8px solid #fff;
}

.ui-datepicker .ui-datepicker-next:before {
    border-left: 8px solid #fff;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
}

.ui-datepicker th {
    padding: 0px;
}

.ui-datepicker .ui-datepicker-title {
    margin: 5px;
    text-align: center;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
}

    .ui-datepicker .ui-datepicker-title select {
        font-size: 1em;
        margin: 1px 0;
    }

.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 49%;
}

.ui-datepicker-year {
    color: #325C99;
}

.ui-datepicker table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;
}

.ui-datepicker th {
    width: 30px;
    height: 22px;
    line-height: 20px;
}

    .ui-datepicker th span {
        display: block;
        text-align: center;
        font-size: 1.1667em;
        font-weight: normal;
        color: #2d3e52;
    }

.ui-datepicker span.ui-datepicker-month {
    font-weight: bold;
    color: #2d3e52;
}

.ui-datepicker .ui-datepicker-calendar td {
    vertical-align: middle;
    text-align: center;
    /* padding: 5px; */
}

    .ui-datepicker .ui-datepicker-calendar td a,
    .ui-datepicker .ui-datepicker-calendar td span {
        transition: all 0.2s ease-in-out;
        padding: 5px;
        background-color: #fff;
        color: #000000;
        padding: 20px 20px;
        display: block;
        font-weight: 400;
        font-size: 13px;
        border: 0;
        border-radius: 1px;
        text-align: center;
        /* text-decoration: line-through; */
        text-decoration: none;
        font-family: "Mulish", sans-serif !important;
    }

.year-calender .ui-datepicker-row-break {
    display: none !important;
}
/*.ui-datepicker .ui-datepicker-calendar tr td:nth-child(1) a {
    color: #1F3580;
}
*/
.ui-datepicker .ui-datepicker-calendar td.ui-state-disabled span:before {
    position: absolute;
    content: "";
    top: 12px;
    left: 10px;
    width: 10px;
    height: 1px;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-calendar td a:hover {
    background: #FCB714;
    border-radius: 2px;
    color: #fff;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a {
    position: relative;
}

    .ui-datepicker .ui-datepicker-calendar td.ui-datepicker-today a:before {
        content: "";
        border-right: 5px solid #3498db;
        border-top: 5px solid transparent;
        position: absolute;
        bottom: 4px;
        right: 4px;
    }

.ui-datepicker {
    border: 1px solid #00B7F1;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.23);
}

    .ui-datepicker.yellow .ui-datepicker-header {
        background: none;
        color: #2d3e52;
    }

    .ui-datepicker.yellow th span {
        color: #fdb714;
    }

    .ui-datepicker.yellow .ui-datepicker-calendar td.ui-datepicker-current-day a,
    .ui-datepicker.yellow .ui-datepicker-calendar td a:hover {
        background: #00B7F1;
    }

    .ui-datepicker.yellow .ui-datepicker-calendar td.ui-datepicker-today a:before {
        border-right-color: #3498db;
    }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 0px;
    background: none;
    font-weight: none;
    color: none;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 1.6em;
    height: 1.6em;
    right: 12px;
    top: 7px;
    border-radius: 50%;
    background-color: #3498db !important;
}

    .ui-datepicker .ui-datepicker-prev > span, .ui-datepicker .ui-datepicker-next > span {
        display: none;
    }

    .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active, .ui-datepicker .ui-datepicker-prev:focus, .ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active, .ui-datepicker .ui-datepicker-next:focus {
        background-image: none !important;
        background-color: #FCB714 !important;
    }

        .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::before {
            background-image: none !important;
            border-left-color: #FCB714 !important;
        }

        .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::after {
            background-image: url(../images/cal-navi.png);
            background-image: none !important;
            border: 1px solid #FCB714 !important;
        }

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
    top: 2px;
}

    .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next::before {
        position: absolute;
        top: 6px;
        left: 0.63em;
    }

    .ui-datepicker .ui-datepicker-prev::before {
        left: 0.46em;
    }

    .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next::after {
        position: absolute;
        content: "";
        width: 1.3em;
        height: 1.3em;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 2px;
        left: 2px;
    }

.ui-datepicker .ui-datepicker-group-last {
    border-right: 0px solid none !important;
}

.ui-datepicker .ui-datepicker-group-first {
    /* border-right: 1px solid #bbb !important; */
    margin-right: 20px;
    /* padding-right: 20px; */
}

.yellow {
    color: #FCB714;
}

.blue {
    color: #00B7F1;
}

.start-range, .ui-state-active {
    background-color: #003580 !important;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

    .start-range a, .ui-state-active a {
        color: #fff !important;
        background-color: unset !important;
    }

    .start-range .ui-state-default {
        color: #fff !important;
    }

.end-range {
    background-color: #003580 !important;
    border-radius: 0px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

    .end-range a {
        color: #fff !important;
        background-color: unset !important;
    }

.hover-range {
    background-color: #3498db !important;
}

    .hover-range a {
        color: #fff !important;
        background-color: unset !important;
    }

.ui-datepicker-unselectable.ui-state-disabled.booked span {
    transition: all 0.2s ease-in-out;
    padding: 5px;
    background-color: #fff;
    color: #473b52;
    padding: 20px 20px;
    display: block;
    font-weight: 400;
    font-size: 12px;
    border: 0;
    border-radius: 1px;
    text-align: center;
    text-decoration: line-through;
    color: #B2B2B2;
    background-color: #e64420 !important;
    color: #fff;
}


.ui-datepicker-unselectable.ui-state-disabled:not(.booked) span {
    background: repeating-linear-gradient( -45deg,white,white 3px,#ebebeb 3px,#ebebeb 4px) !important;
}


.in-range {
    background-color: #00B7F1 !important;
}

    .in-range a {
        color: #fff !important;
        background-color: unset !important;
    }

.ui-priority-secondary {
    background-color: #fff !important;
    color: #00B7F1 !important;
    opacity: 0.4 !important;
}

.calendar-wrapper {
    padding: 1em 0em;
}

.ui-datepicker .ui-datepicker-group {
    width: 50% !important;
    /* padding: 10px; */
}

.ui-datepicker.ui-datepicker-multi {
    width: 100% !important;
    display: flex !important;
    padding-left: 10px;
}

.ui-datepicker {
    box-shadow: unset;
    border: unset;
}

.calendar-container {
    border: 1px solid #00B7F1;
    background-color: rgba(241, 249, 249, 0.8);
}

.ui-datepicker .ui-datepicker-group-middle {
    border-right: 1px solid #bbb !important;
}

    .ui-datepicker .ui-datepicker-group-first .ui-datepicker-title, .ui-datepicker .ui-datepicker-group-middle .ui-datepicker-title, .ui-datepicker .ui-datepicker-group-last .ui-datepicker-title {
        /* border: 1px solid #FCB714; */
    }

.ui-datepicker .ui-datepicker-group-first .ui-datepicker-title {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-datepicker .ui-datepicker-group-last .ui-datepicker-title {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ui-datepicker th {
    height: 35px;
}

.ui-datepicker-prev, .ui-datepicker-next {
}

.ui-datepicker-title {
    line-height: 2.5em !important;
    margin: 0px !important;
}


.ui-datepicker .ui-datepicker-calendar th {
    /* text-transform: uppercase; */
    font-size: 12px;
    /* font-weight: 600; */
    /* letter-spacing: 1px; */
    padding: 6px 10px;
    color: #000000;
    font-weight: bold;
    font-family: "Mulish", sans-serif !important;
}

.drag-active {
    background-color: red;
}

.ui-datepicker-month, .ui-datepicker-year {
    color: #040b11;
}

.ui-datepicker .ui-datepicker-calendar td.ui-datepicker-current-day a, .ui-datepicker .ui-datepicker-calendar td a:hover {
    background-color: #98CE44;
}

.ui-state-disabled span {
    color: #ecebeb !important;
}

@media only screen and (max-width: 1024px) {
    .ui-datepicker-group-last {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .ui-datepicker .ui-datepicker-calendar td a, .ui-datepicker .ui-datepicker-calendar td span {
        transition: all 0.2s ease-in-out;
        padding: 5px;
        background-color: #fff;
        color: #000000;
        padding: 5px 5px;
        display: block;
        font-weight: 400;
        font-size: 13px;
        border: 0;
        border-radius: 1px;
        text-align: center;
        /* text-decoration: line-through; */
        text-decoration: none;
        font-family: "Mulish", sans-serif !important;
    }

    .ui-datepicker .ui-datepicker-calendar .booked span {
        transition: all 0.2s ease-in-out;
        padding: 5px;
        background-color: #fff;
        color: #473b52;
        padding: 5px 5px;
        display: block;
        font-weight: 400;
        font-size: 12px;
        border: 0;
        border-radius: 1px;
        text-align: center;
        /* text-decoration: line-through; */
        color: #B2B2B2;
        background-color: #e64420 !important;
        color: #fff;
    }
}

.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
    background: white;
    display: flex !important;
    justify-content: space-around !important;
}
@media only screen and (max-width: 768px) {
    .footer-list-wrapper {
        justify-content: space-between;
        /*flex-direction: column;*/
        align-items: center;
        flex-flow: inherit;
    }


    .ui-datepicker {
        width: 100% !important;
    }

        .ui-datepicker .ui-datepicker-title {
            margin: 0 2.3em;
            line-height: 1.8em;
            text-align: center;
            background: white;
            display: flex !important;
            justify-content: center !important;
            /* text-align: center; */
            width: 100% !important;
        }

    .ui-datepicker-year {
        display: none;
    }
}