﻿/*#jrange .hasDatepicker {
    position: absolute !important;
    background: white;
    padding: 10px;*/
/* left: -20px; */
/*margin-left: -60px;
    box-shadow: 0px 5px 15px 1px rgb(47 76 88 / 10%);
    border-radius: 8px;
    margin-top: 29px;
}*/


#jrange2 .hasDatepicker {
    /* top: 194px !important; */
    /* left: 20px !important; */
    /* position: absolute; */
    /* z-index: 9999999999999; */
    /* background: white; */
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: 0.2em 0;
    background: white;
    display: flex;
    justify-content: center;
}

.ui-datepicker-year {
    display: none;
}


#jrange input {
    width: 180px;
    border: none;
}

#jrange div {
    font-size: 14px;
}

#jrange2 input {
    border: none;
    outline: none;
    background: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* letter-spacing: 3px; */
    padding: 5px;
    /* width: 150px; */
}

.date-range-selected > .ui-state-active, .date-range-selected > .ui-state-default {
    background: none;
    background-color: lightsteelblue;
}

.ui-datepicker {
    width: 330px !important;
    padding: .2em .2em 0;
    display: none;
    /* left: -20px; */
    box-shadow: 0px 5px 15px 1px rgb(47 76 88 / 10%);
    /* display: flex; */
    /* top: 15px; */
}

    .ui-datepicker table {
        width: 100% !important;
    }

.ui-datepicker {
    width: 250px;
    padding: .2em .2em 0;
    display: none;
    /* left: -20px; */
    /* display: flex; */
    /* top: 15px; */
    margin-left: -3%;
    margin-top: 1%;
}




    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0;
        background: white;
        /* display: flex; */
        /* justify-content: flex-end; */
    }

    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em;
    }

    .ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover {
        top: 1px;
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 2px;
        /* background: white; */
        /* color: blue; */
    }

    .ui-datepicker .ui-datepicker-next {
        /* background: white; */
        right: 2px;
        color: white;
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 1px;
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 1px;
    }

    .ui-datepicker .ui-datepicker-prev span,
    .ui-datepicker .ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px;
        color: white;
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0;
        /* line-height: 1.8em; */
        /* text-align: center; */
        /* background: white; */
        /*display: flex !important;
        justify-content: space-around !important;*/
        /* box-shadow: 0px 1px 5px 0px rgb(221 234 246); */
        /* border-bottom: 1px solid #01aff8; */
        /* background: #01aff8; */
        justify-content: flex-end;
        /* display: flex; */
        /* flex-direction: row; */
    }

        .ui-datepicker .ui-datepicker-title select {
            font-size: 14px;
            margin: 1px 0;
        }

    .ui-datepicker select.ui-datepicker-month,
    .ui-datepicker select.ui-datepicker-year {
        width: 45%;
        border: none;
    }

    .ui-datepicker table {
        width: 90%;
        font-size: 14px;
        border-collapse: collapse;
        margin: 0 0 .4em;
        background: white;
    }

    .ui-datepicker th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0;
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px;
    }

        .ui-datepicker td span,
        .ui-datepicker td a {
            display: block;
            /* padding: .2em; */
            text-align: center;
            text-decoration: none;
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible;
        }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left;
            }

    /* with multiple calendars */
    .ui-datepicker.ui-datepicker-multi {
        width: auto;
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 95%;
        margin: 0 auto .4em;
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
    display: none;
}

/* RTL support */
.ui-datepicker-rtl {
    direction: rtl;
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto;
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right;
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left;
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
            .ui-datepicker-rtl .ui-datepicker-group {
                float: right;
            }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
    .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px;
    }

/* Icons */
.ui-datepicker .ui-icon {
    display: block;
    /* text-indent: -99999px; */
    /* overflow: hidden; */
    /* background-repeat: no-repeat; */
    left: .5em;
    top: .3em;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}


.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 11px;
    cursor: pointer;
}

    .ui-datepicker .ui-datepicker-prev:before {
        border-right: 8px solid #fff;
    }

    .ui-datepicker .ui-datepicker-next:before {
        border-left: 8px solid #fff;
    }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    width: 1.6em;
    height: 1.6em;
    right: 12px;
    top: 7px;
    border-radius: 50%;
    background-color: #3498db !important;
}

    .ui-datepicker .ui-datepicker-prev > span, .ui-datepicker .ui-datepicker-next > span {
        display: none;
    }

    .ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-prev:active, .ui-datepicker .ui-datepicker-prev:focus, .ui-datepicker .ui-datepicker-next:hover, .ui-datepicker .ui-datepicker-next:active, .ui-datepicker .ui-datepicker-next:focus {
        background-image: none !important;
        background-color: #FCB714 !important;
    }

        .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::before {
            background-image: none !important;
            border-left-color: #FCB714 !important;
        }

        .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-prev:focus .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:hover .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:active .ui-datepicker .ui-datepicker-next::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next:focus .ui-datepicker .ui-datepicker-next::after {
            background-image: url(../images/cal-navi.png);
            background-image: none !important;
            border: 1px solid #FCB714 !important;
        }

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
    /* top: 2px; */
}

    .ui-datepicker .ui-datepicker-prev::before, .ui-datepicker .ui-datepicker-next::before {
        position: absolute;
        top: 6px;
        left: 0.63em;
    }

    .ui-datepicker .ui-datepicker-prev::before {
        left: 0.46em;
    }

    .ui-datepicker .ui-datepicker-prev::after, .ui-datepicker .ui-datepicker-next::after {
        position: absolute;
        content: "";
        width: 1.3em;
        height: 1.3em;
        border: 1px solid #fff;
        border-radius: 50%;
        top: 2px;
        left: 2px;
    }

.dp-highlight {
    background-color: #3498db !important;
    border-radius: 3px;
    color: white;
}

.dp-highlight  a{

    color: white;
}
/*.start-range, .ui-state-active {
    background-color: #003580 !important;
    border-radius: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white;
}

    .start-range a, .ui-state-active a {
        color: #fff !important;
        background-color: unset !important;
        color: white;
    }
*/
@media only screen and (max-width: 650px) {
    .ui-datepicker {
        width: 85% !important;
        padding: 0.2em 0.2em 0;
        display: none;
        margin-left: -7%;
        background: white;
        margin-top: 5%;
    }
}
